/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #d0d0d0; /* Default text color */
  background-color: #535353;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 10px;
}

.company-name {
  font-family: 'Pacifico';
  font-size: 48px;
  margin-top: 10px; /* Adjust margin-top to close the gap */
  margin-bottom: 10px;
  color: #007bff; /* Light blue color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 0; /* Adjust margin-top to close the gap */
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column; /* Stack product details vertically on mobile */
}

.product-image {
  flex: 1;
  text-align: center;
}

.product-image img {
  max-width: 230px; /* Adjust the max-width to keep the image small */
  height: auto;
  margin-top: -60px;
}

.product-details {
  flex: 1;
  padding: 0 20px;
  text-align: center;
  margin-top: -40px;
}

.product-details h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #e5e2e2; /* Lighter grey text color for product description */
}

.product-details .description {
  font-style: italic;
  margin-bottom: -10px;
  color: #a19f9f;
}

.product-details .price {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;


}

.add-to-cart {
  text-align: center; /* Center the "Add to Cart" button by default */
  margin-top: 10px;
}

.add-to-cart button {
  padding: 5px 12px;
  font-size: 13px;
  background-color: #403f3f;;
  color: #fff;
  border: solid;
  border-color: #787878;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.add-to-cart button:hover {
  background-color: #6e6d6d;
}

.footer-text {
  font-size: 12px; /* Small font size for footer text */
  margin-top: 10px; /* Space between button and text */
  text-align: center; /* Center the text horizontally */
}

.division {
  height: 80px;
}

.division1 {
  height: 60px;
}


/* Media queries for responsive design */
@media (min-width: 768px) {
  .product {
    flex-direction: row; /* Revert to horizontal layout on desktop */
  }
  .product-image img {
    max-width: 300px;
  }


  .product-details {
    padding: 0 20px;
    text-align: left;
  }

  .add-to-cart {
    text-align: left; /* Align "Add to Cart" button to the left on desktop */
  }

  .footer {
    display: none; /* Hide footer text on desktop */
  }
}

/* Additional styles for smaller text */
@media (max-width: 767px) {
  .product-details .description {
    font-size: 14px; /* Adjust smaller font size for description on mobile */
  }
}
