body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #d0d0d0; /* Default text color */
  background-color: #535353;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 10px;
}

.company-name {
  font-family: 'Pacifico';
  font-size: 48px;
  margin-top: 10px; /* Adjust margin-top to close the gap */
  margin-bottom: 10px;
  color: #007bff; /* Light blue color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.payment-title {
  text-align: center;
  margin-bottom: 20px;
}

.payment-form {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
}

.pay-now input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.pay-now input[type="submit"]:hover {
  background-color: #0056b3;
}


